// Element
$color-primary:    #354048;
$color-secondary:  #34A5FF;
$color-background: #20232E;
$color-surface-1:  #1B1D26;
$color-surface-2:  #303942;
$color-surface-3:  #272D33;
$color-shadow:     #000000;
$color-border:     #222222;

// Event
$color-warning:   #FAAE42;
$color-success:   #99EE90;
$color-error:     #B44444;

// Font
$color-title-fg:     #D7E2E7;
$color-primary-fg:   #9DB4BF;
$color-secondary-fg: #50A7E6;
$color-link-fg:      #000000;
$color-inactive:     #666;