@import '../../styles/global.styles.scss';

.checkout-page {
	display: flex;
	flex-flow: column wrap;
	flex-grow: 1;
	padding: 4rem 2rem 1rem 2rem;
	
	.donation-message {
		margin-top: 10rem;
		border: solid 1px $color-success;
		border-radius: 3px;
		padding: 2rem;
		margin: 1rem 0;
		line-height: 1.3rem;
		.link {
			color: $color-warning;
			cursor: pointer;
			margin-top: 3rem;
			&:hover {
				color: gray;
			} 
		}

		&.success {
			color: $color-success;
			border: solid 1px $color-success;
		}

		&.error {
			color: $color-error;
			border: solid 1px $color-error;
		}
	}
}